.dados-cadastro {
    margin-top: 100px;
}

.dados-cadastro p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #7D313E;
    font-weight: 600;
}

.dados-cadastro h2 {
    text-align: center;

}

.dados-cadastro input {
    height: 40px;
    width: 460px;
    background-color: #E6E6E6;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dados-cadastro button {
    background-color: #7D313E;
    color: #fff;
    height: 40px;
    width: 460px;
    border-radius: 12px;
    border: none;
}

.dados-cadastro nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.dados-cadastro a {
    color: #7D313E;
    margin-bottom: 40px;
    margin-top: 12px;
    text-decoration: underline;
}