body {
    overflow: hidden;
}

img {
    width: 40%;
}

.login {
    display: flex;
    gap: 200px;
}

.dados {
    margin-top: 200px;
}

.dados p {
    margin-bottom: 12px;
}

.dados input {
    margin-bottom: 24px;
}